@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
}
a{
  text-decoration: none;
  color: #333;
  transition: .3s;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
  vertical-align: middle;
}
.title {
  text-align: center;
  margin-bottom: 50px;
}

.title h4 {
  text-transform: capitalize;
  font-size: 40px;
  margin-bottom: 5px;
}
.btn{
  background-color: #41B883;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 30px;
  display: inline-block;
  transition: .3s;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Header */
.header-area{
  padding: 30px 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a{
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  color: #41B883;
}

.menu ul {
  display: flex;
}

.menu ul li {
  text-transform: capitalize;
  margin-left: 20px;
}
.menu ul li a:hover{
  color: #41B883;
}
/* Banner */
.banner-area img{
  border: 3px solid #ddd;
  padding: 3px;
  border-radius: 7px;
  width: 100%;
}

/* About */
.about-area{
  padding: 100px 0;
}
.about-title{
  text-align: center;
  margin-bottom: 50px;
}
.about-title h4{
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 5px;
}
.about{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-about{
  flex-basis: 32%;
  background-color: #fff;
  padding: 40px 20px;
  margin-bottom: 30px;
  border: 1px solid #41B883;
  transition: .3s;
}
.single-about:hover{
  background-color: #41B883;
  color: #fff;
}
.single-about i{
  font-size: 20px;
  border: 1px solid #ddd;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
}
.single-about h4{
  font-size: 26px;
  margin: 15px 0;
  text-transform: capitalize;
}

/* Services */
.services-area{
  padding: 100px 0;
  background-color: #f2f2f2;
}

.services{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-service{
  background-color: #fff;
  padding: 20px;
  flex-basis: 32%;
}
.single-service h4{
  text-align: center;
  background-color: teal;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 22px;
}
.single-service p{
  text-align: justify;
  font-size: 16px;
  line-height: 28px;
}
.single-service a:hover{
  background-color: teal;
}
/* Gallery */
.gallery-area{
  padding: 100px 0;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-gallery{
  flex-basis: 32%;
  margin-bottom: 30px;
}
.single-gallery img{
  border: 3px solid #ddd;
  padding: 3px;
  border-radius: 7px;
  transition: .3s;
}
.single-gallery img:hover{
  transform: scale(1.1);
}
/* Contact */
.contact-area{
  padding: 100px 0;
  background-color: #f2f2f2;
}
.contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-form{
  flex-basis: 60%;
}
.contact-address{
  flex-basis: 30%;
}
.contact-form input, .contact-form textarea{
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-form textarea{
  height: 150px;
}
.contact-form input[type="submit"]{
  background-color: #41B883;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 30px;
  display: inline-block;
  transition: .3s;
}
.contact-form input[type="submit"]:hover{
  background-color: teal;
}
.single-contact{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.single-contact i{
  background-color: #41B883;
  color: #fff;
  font-size: 20px;
  border: 1px solid #ddd;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.single-contact h4{
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 5px;
}
.single-contact h4 span{
  font-size: 16px;
  display: block;
  color: #777;
  text-transform: lowercase;
  font-weight: 400;
}
/* Footer */
.footer-area{
  padding: 25px 0;
  background-color: #41B883;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}